<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>textFieldStyle</key>
		<array>
			<string>deco_sticker_bubble_shadow2</string>
			<string>deco_sticker_bubble_shadow3</string>
			<string>deco_sticker_bubble_stitch2</string>
			<string>deco_sticker_bubble_whitebg3</string>
			<string>deco_sticker_bubble0</string>
			<string>deco_sticker_bubble1</string>
		</array>
		<key>fontStyle</key>
		<array>
			<string>system</string>
			<string>CO2YuenHK-XboldOutline</string>
			<string>CPoHK-Bold</string>
			<string>MCuteHKS-Light</string>
			<string>MHGKyokashotaiTHK-Light</string>
			<string>MWindyHKS-Bold</string>
			<string>MYuppyHK-Medium</string>
		</array>
		<key>textColor</key>
		<array>
			<string>myBlack</string>
			<string>myPink</string>
			<string>myYellow</string>
			<string>myBlue</string>
			<string>myGreen</string>
			<string>myGray</string>
			<string>myRed</string>
			<string>myBrown</string>
			<string>myDian</string>
		</array>
	</dict>
	<dict>
		<key>emotion</key>
		<array>
			<string>deco_sticker_emo0</string>
			<string>deco_sticker_emo1</string>
			<string>deco_sticker_emo2</string>
			<string>deco_sticker_emo3</string>
			<string>deco_sticker_emo4</string>
			<string>deco_sticker_emo5</string>
			<string>deco_sticker_emo6</string>
			<string>deco_sticker_emo7</string>
			<string>deco_sticker_emo8</string>
			<string>deco_sticker_emo9</string>
			<string>deco_sticker_emo10</string>
			<string>deco_sticker_emo11</string>
			<string>deco_sticker_emo12</string>
			<string>deco_sticker_emo13</string>
			<string>deco_sticker_emo14</string>
			<string>deco_sticker_emo15</string>
			<string>deco_sticker_emo16</string>
			<string>deco_sticker_emo17</string>
			<string>deco_sticker_emo18</string>
			<string>deco_sticker_emo19</string>
		</array>
		<key>ribbon</key>
		<array>
			<string>deco_sticker_ribbon1</string>
			<string>deco_sticker_ribbon2</string>
			<string>deco_sticker_ribbon3</string>
			<string>deco_sticker_ribbon4</string>
			<string>deco_sticker_ribbon5</string>
			<string>deco_sticker_ribbon6</string>
			<string>deco_sticker_ribbon7</string>
			<string>deco_sticker_ribbon8</string>
			<string>deco_sticker_ribbon9</string>
			<string>deco_sticker_ribbon10</string>
			<string>deco_sticker_ribbon11</string>
			<string>deco_sticker_ribbon12</string>
			<string>deco_sticker_ribbon13</string>
			<string>deco_sticker_ribbon14</string>
			<string>deco_sticker_ribbon15</string>
			<string>deco_sticker_ribbon16</string>
			<string>deco_sticker_ribbon17</string>
			<string>deco_sticker_ribbon18</string>
			<string>deco_sticker_ribbon19</string>
			<string>deco_sticker_ribbon20</string>
			<string>deco_sticker_ribbon21</string>
			<string>deco_sticker_ribbon22</string>
			<string>deco_sticker_ribbon23</string>
			<string>deco_sticker_ribbon24</string>
			<string>deco_sticker_ribbon25</string>
			<string>deco_sticker_ribbon26</string>
			<string>deco_sticker_ribbon27</string>
			<string>deco_sticker_ribbon28</string>
			<string>deco_sticker_ribbon29</string>
			<string>deco_sticker_ribbon30</string>
			<string>deco_sticker_ribbon31</string>
			<string>deco_sticker_ribbon32</string>
			<string>deco_sticker_ribbon33</string>
		</array>
		<key>party</key>
		<array>
			<string>deco_sticker_party0</string>
			<string>deco_sticker_party1</string>
			<string>deco_sticker_party2</string>
			<string>deco_sticker_party3</string>
			<string>deco_sticker_party4</string>
			<string>deco_sticker_party5</string>
			<string>deco_sticker_party6</string>
			<string>deco_sticker_party7</string>
			<string>deco_sticker_party8</string>
			<string>deco_sticker_party9</string>
			<string>deco_sticker_party10</string>
			<string>deco_sticker_party11</string>
			<string>deco_sticker_party12</string>
			<string>deco_sticker_party13</string>
			<string>deco_sticker_party14</string>
			<string>deco_sticker_party15</string>
			<string>deco_sticker_party16</string>
			<string>deco_sticker_party17</string>
			<string>deco_sticker_party18</string>
			<string>deco_sticker_party19</string>
			<string>deco_sticker_party20</string>
			<string>deco_sticker_party21</string>
			<string>deco_sticker_party22</string>
			<string>deco_sticker_party23</string>
			<string>deco_sticker_party24</string>
			<string>deco_sticker_party25</string>
			<string>deco_sticker_party26</string>
			<string>deco_sticker_party27</string>
			<string>deco_sticker_party28</string>
			<string>deco_sticker_party29</string>
			<string>deco_sticker_party30</string>
			<string>deco_sticker_party31</string>
		</array>
		<key>weather</key>
		<array>
			<string>deco_sticker_weather0</string>
			<string>deco_sticker_weather1</string>
			<string>deco_sticker_weather2</string>
			<string>deco_sticker_weather3</string>
			<string>deco_sticker_weather4</string>
			<string>deco_sticker_weather5</string>
			<string>deco_sticker_weather6</string>
			<string>deco_sticker_weather7</string>
			<string>deco_sticker_weather8</string>
			<string>deco_sticker_weather9</string>
			<string>deco_sticker_weather10</string>
			<string>deco_sticker_weather11</string>
			<string>deco_sticker_weather12</string>
			<string>deco_sticker_weather13</string>
			<string>deco_sticker_weather14</string>
			<string>deco_sticker_weather15</string>
			<string>deco_sticker_weather16</string>
			<string>deco_sticker_weather17</string>
			<string>deco_sticker_weather18</string>
			<string>deco_sticker_weather19</string>
			<string>deco_sticker_weather20</string>
			<string>deco_sticker_weather21</string>
			<string>deco_sticker_weather22</string>
			<string>deco_sticker_weather23</string>
			<string>deco_sticker_weather24</string>
			<string>deco_sticker_weather25</string>
			<string>deco_sticker_weather26</string>
			<string>deco_sticker_weather27</string>
		</array>
		<key>love</key>
		<array>
			<string>deco_sticker_love0</string>
			<string>deco_sticker_love1</string>
			<string>deco_sticker_love2</string>
			<string>deco_sticker_love3</string>
			<string>deco_sticker_love4</string>
			<string>deco_sticker_love5</string>
			<string>deco_sticker_love6</string>
			<string>deco_sticker_love7</string>
			<string>deco_sticker_love8</string>
			<string>deco_sticker_love9</string>
			<string>deco_sticker_love10</string>
			<string>deco_sticker_love11</string>
			<string>deco_sticker_love12</string>
		</array>
		<key>mygom</key>
		<array>
			<string>deco_sticker_mygom0</string>
			<string>deco_sticker_mygom1</string>
			<string>deco_sticker_mygom2</string>
			<string>deco_sticker_mygom3</string>
			<string>deco_sticker_mygom4</string>
			<string>deco_sticker_mygom5</string>
			<string>deco_sticker_mygom6</string>
			<string>deco_sticker_mygom7</string>
			<string>deco_sticker_mygom8</string>
			<string>deco_sticker_mygom9</string>
			<string>deco_sticker_mygom10</string>
			<string>deco_sticker_mygom11</string>
			<string>deco_sticker_mygom12</string>
			<string>deco_sticker_mygom13</string>
			<string>deco_sticker_mygom14</string>
		</array>
		<key>yummy</key>
		<array>
			<string>deco_sticker_yummy0</string>
			<string>deco_sticker_yummy1</string>
			<string>deco_sticker_yummy2</string>
			<string>deco_sticker_yummy3</string>
			<string>deco_sticker_yummy4</string>
			<string>deco_sticker_yummy5</string>
			<string>deco_sticker_yummy6</string>
			<string>deco_sticker_yummy7</string>
			<string>deco_sticker_yummy8</string>
			<string>deco_sticker_yummy9</string>
			<string>deco_sticker_yummy10</string>
			<string>deco_sticker_yummy11</string>
			<string>deco_sticker_yummy12</string>
			<string>deco_sticker_yummy13</string>
			<string>deco_sticker_yummy14</string>
			<string>deco_sticker_yummy15</string>
			<string>deco_sticker_yummy16</string>
			<string>deco_sticker_yummy17</string>
			<string>deco_sticker_yummy18</string>
			<string>deco_sticker_yummy19</string>
			<string>deco_sticker_yummy20</string>
		</array>
		<key>point</key>
		<array>
			<string>deco_sticker_pointseal0</string>
			<string>deco_sticker_pointseal1</string>
			<string>deco_sticker_pointseal2</string>
			<string>deco_sticker_pointseal3</string>
			<string>deco_sticker_pointseal4</string>
			<string>deco_sticker_pointseal5</string>
			<string>deco_sticker_pointseal6</string>
			<string>deco_sticker_pointseal7</string>
			<string>deco_sticker_pointseal8</string>
			<string>deco_sticker_pointseal9</string>
			<string>deco_sticker_emo19</string>
		</array>
	</dict>
	<dict>
		<key>bird</key>
		<array>
			<string>deco_bg_popup_bird0</string>
			<string>deco_bg_popup_bird1</string>
			<string>deco_bg_popup_bird2</string>
			<string>deco_bg_popup_bird3</string>
			<string>deco_bg_popup_bird4</string>
			<string>deco_bg_popup_bird5</string>
			<string>deco_bg_popup_bird6</string>
			<string>deco_bg_popup_bird7</string>
			<string>deco_bg_popup_bird8</string>
			<string>deco_bg_popup_bird9</string>
			<string>deco_bg_popup_bird10</string>
			<string>deco_bg_popup_bird11</string>
		</array>
		<key>check</key>
		<array>
			<string>deco_bg_popup_check0</string>
			<string>deco_bg_popup_check1</string>
			<string>deco_bg_popup_check2</string>
			<string>deco_bg_popup_check3</string>
			<string>deco_bg_popup_check4</string>
			<string>deco_bg_popup_check5</string>
			<string>deco_bg_popup_check6</string>
			<string>deco_bg_popup_check7</string>
			<string>deco_bg_popup_check8</string>
			<string>deco_bg_popup_check9</string>
		</array>
		<key>frame</key>
		<array>
			<string>deco_bg_popup_frame0</string>
			<string>deco_bg_popup_frame2</string>
			<string>deco_bg_popup_frame3</string>
			<string>deco_bg_popup_frame4</string>
			<string>deco_bg_popup_frame5</string>
			<string>deco_bg_popup_frame6</string>
			<string>deco_bg_popup_frame7</string>
			<string>deco_bg_popup_frame8</string>
			<string>deco_bg_popup_frame9</string>
			<string>deco_bg_popup_frame10</string>
		</array>
	</dict>
</array>
</plist>
